.search-bar, .vertical-seperation, .add-or-select-option, .issues-btn, .pull-request-btn, .right-side-feed, .side-bar-holder, .main-content-fight-side-feed {
    display: none;
}

.hand-burger-holder {
    padding: 0.2rem;
    margin: 0 0.1rem;
}

.navbar {
    padding: 1rem 0.2rem;
}

.sample {
    background-color: blue;
}

.content-holder {
    flex-direction: column;
}

.side-bar-holder {
    width: 100%;
    height: auto;
}