.search-bar, .vertical-seperation, .add-or-select-option, .issues-btn, .pull-request-btn, .right-side-feed, .main-content-fight-side-feed {
    display: none;
}

.hand-burger-holder {
    padding: 0.2rem 0.2rem;
}

.navbar {
    padding: 1rem 0.2rem;
}

.content-holder {
    flex-direction: column;
}

.side-bar-holder {
    width: 100%;
    height: auto;
    background-color: #0d1117;
    border-radius: 0.375rem;
    border: 1px solid #30363d;
    position: static;
}

.content-holder {
    flex-direction: column;
    padding: 20px;
}

.main-content-holder {
    padding: 0;
}

.main-feed-menu-holder {
    margin: 20px 0;
}